# Compiled from Stencil
.stencil/
.build/
.www/
.data/

# Compiled theme
src/themes.built/

# Compiled from gulpfile.babel.js
.storybook/
dist/
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.d.ts

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.npmrc
Xamarin/StyleGuide/StyledApp.Less/obj/
Xamarin/StyleGuide/StyleGuide/StyleGuide.Android/bin/
Xamarin/StyleGuide/StyleGuide/StyleGuide.Android/obj/
Xamarin/StyleGuide/StyleGuide/StyleGuide.iOS/bin/
Xamarin/StyleGuide/StyleGuide/StyleGuide.UWP/bin/
Xamarin/StyleGuide/StyleGuide/StyleGuide.UWP/obj/
Xamarin/StyleGuide/StyleGuide/StyleGuide/obj/
Xamarin/StyleGuide/StyleGuide/StyleGuide/bin/
Xamarin/StyleGuide/StyleGuide/StyleGuide.iOS/obj/
Xamarin/StyleGuide/StyledApp.Less/bin/
